<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Presentación del Equipo</title>
</head>
<body>
    <header id="encabezado">
        <nav class="menu--navegacion">
            <ul>
                <li><a href="/chambers/principal">INICIO</a></li>
                <li><a href="/chambers/Teoria-Basica">APARTADO 1</a></li>
                <li><a href="/chambers/Patrones-de-Diseño">APARTADO 2</a></li>
                <li><a href="/chambers/Scrum">APARTADO 3</a></li>
                <li><a href="/chambers/Integrantes">APARTADO 4</a></li>
            </ul>
        </nav>
    </header>

    <main id="body">
        <div class="encabezado--body">
            <h1>Integrantes del Equipo Chambers</h1>
        </div>
        
        <div class="contenido-texto">
            <h2>Conoce a nuestro equipo</h2>
            
            <div class="integrante-fila">
                <img src="/Imagenes/integrante1.jpeg" alt="Avatar" class="integrante-foto-img">
                <div class="integrante-datos">
                    <h3>OSCAR HUERTA</h3>
                    <p><strong>Mis tecnologías favoritas:</strong> Python, HTML/JS | <strong>Semestre:</strong> 6º</p>
                </div>
            </div>

            <div class="integrante-fila">
                <img src="../static/Imagenes/integrante2.jpg" alt="Imagen de Ricardo" class="integrante-foto-img">
                <div class="integrante-datos">
                    <h3>RICARDO MARTINEZ</h3>
                    <p><strong>Mis tecnologías favoritas:</strong> Python, JavaScript, HTML/CSS | <strong>Semestre:</strong> 6º</p>
                </div>
            </div>

            <div class="integrante-fila">
                <img src="/Imagenes/Foto_Leo.jpg" alt="Avatar" class="integrante-foto-img">
                <div class="integrante-datos">
                    <h3>PON NOMBRE</h3>
                    <p><strong>Mis tecnologías favoritas:</strong> Java, Spring Boot, HTML/CSS | <strong>Semestre:</strong> 6º</p>
                </div>
            </div>

            <div class="integrante-fila">
                <img src="/Imagenes/Foto_Caro.jpg" alt="Avatar" class="integrante-foto-img">
                <div class="integrante-datos">
                    <h3>PON NOMBRE</h3>
                    <p><strong>Mis tecnologías favoritas:</strong> Python, HTML/JS | <strong>Semestre:</strong> 6º</p>
                </div>
            </div>

        </div>
    </main>

    <footer>
        <section class="derechos--autor">
            <p>Proyecto SCRUM © 2026 por Chambers está licenciado bajo CC BY-NC-ND 4.0</p>
        </section>
    </footer>
</body>
</html>